*, *::before, *::after {
    box-sizing: border-box;
}
html, body { margin: 0; padding: 0; width: 100%; min-height: 100%;}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}

.logo{
    margin-bottom: 20px;
}

@media screen and (min-width: 900px) {
    body {
        display: grid;
        grid-template-rows: max-content max-content 250px;
        grid-template-columns: 250px 1fr;

    }
    .header {
        flex-direction: row;
        grid-column: 1/ -1;
        justify-content: space-between;
    }
    .logo{
        margin-bottom: 0px;
    }

    .main {
        order: 1;
    }
    .footer {
        order: 1;
        grid-column: 1 / -1;
    }
}
.header{
    background-color: #333;
}
.nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    list-style: none;
    float: left;
}
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
 }

