*, *::before, *::after {
    box-sizing: border-box;
}


html, body {

    /* on surcharge le style de base et fixe ces éléments 
        supprime le style par défaut.
        on attaque directement sur le body (grand)*/

    /* marge externe */
    margin: 0;

    /* marge interne de la box */
    padding: 0;

    width: 100%;
    height: 100%;
}



.header {
    display: block;
    width: 100%;
    height: 50px;

    /* toujours 50px de hauteur 
        (élément se superpose maintenant*/
    box-sizing: border-box;
    background-color: aquamarine;
    padding: 10px;
    border-bottom: 1px solid grey;
    background-color: greenyellow;
}

.header_titre{
    display: inline;
    font-size: 24px;
    margin-right: 20px;
    color: black;
}

.header_nav{
    display: inline;
}

.header_link{
    color: black
}

.container {
    display: block;
    width: 100%;
    height: 200px;
    overflow: max-content;
}

.aside {
    display: block;
    width: 250PX;
    float: left;
    height: 100%;

    background-color: pink;

    padding: 20px 10px;
    border-right: 5px solid grey;
}

.main {
    display: block;
    width: 100%;
    height: 100%;

    background-color: royalblue;
    padding: 20px 10px 20px 280px;
}

.footer {
    display: block;
    width: 100%;
    height: 200px;
    background-color: blueviolet;
    padding: 50px 20px;
    border-top: 2px solid grey;
    color: aquamarine;
}

